@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("href=https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap%22");
@import url("href=https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap%22");
@import url("href=https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap%22");

* {
  box-sizing: border-box;
  font-family: "Lora", "Inconsolata", "Inter";
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

.sspan ::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
